<footer id="footer-bar" class="row">
        <p id="footer-copyright" class="col-xs-12">
            Copyright &copy; 2017 <strong> DNA </strong>. Powered by <a href="http://www.softage.net" target="_blank">
                <img src="~/Content/img/softage_logo.png" alt="SoftAge" style="width:65px;" />
            </a>
        </p>
</footer>
