<style>
    .tooltip-f {
        /*position: relative;
        display: inline-block;*/
        /*border-bottom: 1px dotted black;*/
    }
    
    .tooltip-f .tooltiptext {
            /* visibility: hidden;*/
            width: 150px;
            background-color: #58585a;
            font-size: 10px;
            color: #ffffff;
            text-align: center;
            border-radius: 2px;
            padding: 5px 0;
            margin-top: 53px;
            margin-left: -147px;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
         
    }
    
    .tooltip-f:hover .tooltiptext {
            visibility: visible;
    }
    
    .tooltip-f .tooltiptext::after {
            content: " ";
            position: absolute;
            bottom: 90%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #58585a transparent;

    }

    .error-r {
        padding-right: 40px;
    }

    .success-a {
        padding-right: 40px;
    }

    .intl-tel-input {
        display: table-cell;
    }

   .intl-tel-input .flag-container {
       z-index: 4;

   }
   
   .input-group .intl-tel-input .form-control {
        border-top-left-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 0;
    }
   .mb5 { margin-bottom: 5px; }
   .tooltip-inner { max-width: 500px; white-space: nowrap; }
   .red-tooltip + .tooltip > .tooltip-inner { background-color: #f00; }
   .red-tooltip + .tooltip > .tooltip-arrow { border-right-color: #f00; }

</style>
<div class="container" custom-login-image-height Id="login-page">
    <div class="row">
        <div class="col-xs-12">
            <div id="login-box">
                <div id="login-box-holder">
                    <div class="row">
                        <div class="col-xs-12">
                            <header id="login-header">
                                <div id="login-logo">
                                    <img alt="" src="/Content/img/logo.png">
                                </div>
                            </header>
                            <div id="login-box-inner">
                                <div class="alert alert-info" ng-show="done">
                                    <span style="font-size:12px; font-weight:700;">{{message}}</span> <br />
                                    <a style="font-size:12px; color:red;" ui-sref="Login">Return To Login</a>
                                </div>

                                <div class="alert alert-danger" ng-if="Error && !done">
                                    <span style="font-size:12px; font-weight:700;">{{Error.Message}}</span>
                                </div>

                                <form name="Register" ng-submit="RegisterUser()" ng-show="!done">

                                    <div class="input-group tooltip-f">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" id="UserName" name="UserName" placeholder="User name" ng-model="RegisterModel.UserName" class="form-control  red-tooltip" data-toggle="tooltip" data-placement="right" required>
                                        <span class="tooltiptext" id="help" data-toggle="tooltip" ng-show="Register.UserName.$dirty && Register.UserName.$error.required">This Field is Required.</span>
                                    </div>

                                    <div class="input-group tooltip-f">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="email" id="email" name="email" placeholder="Enter Email" class="form-control" ng-model="RegisterModel.EmailID" required>
                                        <span class="tooltiptext" id="help" data-toggle="tooltip" ng-show="Register.email.$dirty && Register.email.$error.email">Email Is Not Valid</span>
                                    </div>

                                    <div class="input-group tooltip-f">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" id="NewPassword" name="NewPassword" placeholder="Enter password" class="form-control" ng-model="NewPassword" required>
                                        <span class="tooltiptext" id="help" data-toggle="tooltip" ng-show="Register.NewPassword.$dirty && Register.NewPassword.$error.required">This Field Is Required</span>
                                    </div>

                                    <div class="input-group tooltip-f">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" id='ConfirmPassword' name='ConfirmPassword' placeholder="Confirm Password" ng-model="RegisterModel.Password" class="form-control" required>
                                        <span class="tooltiptext" id="help" data-toggle="tooltip" ng-show="Register.ConfirmPassword.$dirty && NewPassword!==RegisterModel.Password">Password Mismatch</span>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-primary  col-xs-12" type="submit" ng-disabled="Register.$invalid" value="submit">Register</button>
                                        </div>
                                    </div>
                               </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

